/* Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #00695c;
  color: white;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.title-logo {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  padding: 5px;
}

.search-box {
  width: 83%;
  border: none;
  outline: none;
}

.search-button {
  width: 30px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.auth-link:hover {
  background-color: white;
  color: #00695c;
}